/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

  * {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
  }

:root {
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC;

    --tran-02: all 0.2s linear;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

img {
  width: 60px;
  border-radius: 10px;
}

body {
  height: 100%;
  background: var(--body-color);
}

nav {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  background: var(--sidebar-color);
  width: 80px;
  overflow: hidden;
  transition: var(--tran-02);
  box-shadow: 0 20px 35px;
}

.logo {
  text-align: center;
  display: flex;
  transition: var(--tran-05);
  margin: 10px 0 0 10px;
}

.logo img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.logo span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

a {
  position: relative;
  color: white;
  font-size: 14px;
  display: table;
  width: 300px;
  padding: 10px;
  transition: all 300ms ease;
}

.icon {
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: 12px;
  margin-left: 10px;
}

a:hover {
  background: var(--primary-color-light);
  color: dodgerblue;
  margin-left: 1rem;
}

a:active {
  opacity: 70%;
  transition: 0.25s;
}

nav:hover {
  width: 280px;
  transition: var(--tran-05);
}

.logout {
  position: absolute;
  bottom: 0;
}

.main {
  margin-left: 120px;
  margin-top: 20px;
  transition: all 500ms ease;
  color: white;
}

nav:hover ~ .main {
  margin-left: 300px;
}

.main .blocks {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  align-items: baseline;
}

.block {
  width: 350px;
  height: 300px;
  padding-left: 15px;
  padding-top: 15px;
  margin-top: 40px;
  background-color: var(--sidebar-color);
}

.main .blocks .shield {
  font-size: 110px;
  margin-left: 110px;
  text-shadow: 0 0 30px dodgerblue;
}

.main .blocks .bulb {
  font-size: 110px;
  margin-left: 110px;
  text-shadow: 0 0 30px yellow;
}

.main .blocks .toggle {
  margin-left: 125px;
}

.toggle-btn {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 35px;
  margin: 0 110px;
  border-radius: 40px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  transition: var(--tran-04);
  border-radius: 40px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 3px;
  bottom: 2.5px;
  background-color: white;
  transition: var(--tran-04);
  border-radius: 50px;
}

input {
  display:none;
}

input:checked + .slider {
  background-color: dodgerblue;
}

input:checked + .slider:before {
  transform: translateX(74px);
}

.gauge {
  width: 100%;
  max-width: 250px;
  font-size: 50px;
}

.gauge .temp {
  font-size: 50px;
  margin-left: -20px;
}
.gauge .icon {
  font-size: 50px;
  top: -7px;
  left: -10px;
  text-shadow: 0 0 10px grey;
}

.gauge_body {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background: grey;
  position: relative;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
  margin-top: 20px;
  margin-left: 35px;
}

.gauge_fill {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: 100%;
  background: red;
  transform-origin: center top;
  transform: rotate(0.25turn);
  transition: transform 0.2s ease-out;
  box-shadow: 0 0 30px red;
}

.gauge_cover {
  width: 75%;
  height: 150%;
  background: var(--sidebar-color);
  position: absolute;
  border-radius: 50%;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25%;
  box-sizing: border-box;
}